* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Lucida Grande";
}
.header-left {
  font-size: 26px;
  padding: 20px 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
  float: left;
}

.header-right li {
  list-style: none;
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  display: block;
}
.header-right a:hover {
  color: darkorange;
}

.main-nav {
  align-content: flex-end;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("../../images/background.jpeg");
  background-size: cover;
  text-align: center;
}

.top-wrapper h1 {
  color: white;
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.top-wrapper span {
  color: rgb(255, 145, 0);
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  float: right;
  color: white;
  display: block;
  text-decoration: none;
}

.btn-wrapper {
  margin: 50px 0;
}

.resume {
  padding: 12px 24px;
  border-radius: 5px;
  position: relative;
  background-color: #239b76;
  box-shadow: 0px 7px #1a7940;
  text-decoration: none;
  color: white;
}
.resume:hover {
  background-color: #25a57f;
  box-shadow: 0px 7px #1c8044;
  transition: 0.5s;
}
.resume:active {
  box-shadow: none;
  top: 7px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 0px;
}

.btn {
  text-align: center;
}

.social-media {
  position: relative;
  top: 20px;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #2c88c5;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
.social-btn i {
  line-height: 40px;
  font-size: 20px;
  transition: 0.2 linear;
}

.social-btn:hover {
  background: #2c88c5;
  color: #f1f1f1;
}
footer {
  border-top: 5px solid #494949;
  height: 32vh;
  width: auto;
  padding: 20px 50px;
  background-color: #f7f7f7;
}
.about {
  quotes: "\0022";
  font-size: 24px;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: bold;
  color: #303030;
}
.about::before {
  quotes: "	\0022";
}
.start {
  font-size: 60px;
  color: #494949;
  font-family: "Passion One", cursive;
  display: inline-block;
  margin-bottom: 2px;
}
.end {
  font-size: 60px;
  color: #494949;
  font-family: "Passion One", cursive;
  direction: rtl;
}
